.settings
.idea
build/* 
!build/cache/empty.txt
dist/*
!dist/cache/empty.txt
schedules/* 
!schedules/cache/empty.txt
debug/* 
!debug/cache/empty.txt
history/* 
!history/cache/empty.txt
reports/* 
!reports/cache/empty.txt
*.pyc
*.tsv
*.conf
*.xml
*.sch
*.bat
*.vb
.dblocker.log.lock.swp
.project
.pyproject
