.project
.pydevproject
.settings
*.pyc
*.tsv
*.conf
*.xml
*.sch
*.bat
*.vb
.dblocker.log.lock.swp
.project
.pyproject
.DS_Store
Fixity.db
debug.log
conf.xml
.settings
.settings/*
.idea
.idea/*
history
history/*
reports
reports/*
bin
bin/*
debug
debug/*
schedules/*
schedules
build/*
build
dist/*
dist
__pycache__
__pycache__/*

