.project
.pydevproject
.settings
*.pyc
*.tsv
*.conf
conf.xml
*.sch
*.bat
*.vb
.dblocker.log.lock.swp
dblocker.log
.project
.pyproject
.DS_Store
Fixity.db
debug.log
conf.xml
.settings
.settings/*
.idea
.idea/*
history
history/*
reports
reports/*
bin
bin/*
debug
debug/*
scheduler
scheduler/*
__pycache__
__pycache__/*
test.py

